body {
    background-color: #fff;
}

.benderPhrase {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Arvo', serif;
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    padding-top: 25px;
}

.comment-input {
    border: none;
    border-bottom: 1px solid #777;
}

.not_found {
    text-align: center;
    width: 50%; 
    margin: 25px auto; 
}