body {
    background-color: #fff;
}

.benderPhrase {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Arvo', serif;
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    padding-top: 25px;
}
.leave-comment {
    margin: 25px 0;
    &-input {
        width: 50%;
        border: none;
        border-bottom: 1px solid #777;
    }
}

.single-comment {
    margin: 15px 0;
    &__username {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        span{
            &:first-child {
                font-weight: bold;
            }
        }
    }
}




.not_found {
    text-align: center;
    width: 50%; 
    margin: 25px auto; 
}